In [17]:
# set() // need to be unique values in there, it wont repeat it

my_set = set()

my_set.add(1)
my_set.add(3)

print(my_set)

my_set.add(1)
print(my_set)

{1, 3}
{1, 3}

In [19]:
my_list = [1,1,1,1,1,1,12,2,2,2,2,2,3,3,33,44,4,4,4,4,45,5,5,5,5,6,6,6,76,7,7,78,8,8,8,788,7,7,77,656,56,65,56,5445,54,54,45,34,43,34,34,23,23,23,23,3,23,]

set(my_list)
print(set(my_list))

{1, 2, 3, 4, 5, 6, 7, 8, 12, 656, 788, 23, 33, 34, 43, 44, 45, 54, 56, 65, 5445, 76, 77, 78}

In [20]:
set('Mississippi')

{'M', 'i', 'p', 's'}